body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

#newButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#newButton:hover {
    background-color: #0056b3;
}

#listContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-item {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
    width: calc(50% - 10px);
}

.list-item h3, .list-item p {
    margin: 0;
}

.list-item button {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.list-item button:hover {
    background-color: #c82333;
}




body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.product-item {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item h3 {
    margin: 0;
}

.product-item p {
    margin: 5px 0;
}

.product-item button {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.product-item button:hover {
    background-color: #c82333;
}